<h1>Job Board</h1>
<form action="/job" method="post">
  <label for="title">Title:</label>
  <input id="title" name="title" type="text">

  <label for="description">Description:</label>
  <input id="description" name="description" type="text"><br>

  <label for="name">Name:</label>
  <input id="name" name="name" type="text">

  <label for="email">Email:</label>
  <input id="email" name="email" type="text">

  <label for="phoneNumber">Phone Number:</label>
  <input id="phoneNumber" name="phoneNumber" type="text">

  <button type="submit">Submit</button>
</form>
